* {
    background-color: rgb(24, 163, 11);
}

/* Created heading with my name and my nav links as well. Increased the margin at the bottom of the nav links so as to line up with the header itself. */
header {
    padding: 40px;
    background-color: greenyellow;
    color: orange;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 200px;
}

h1 {
    background-color: greenyellow;
}

li {
    list-style-type: none;
    text-align: right;
    background-color: greenyellow;
    float: right;
    padding: 10px;
    position: relative;
    bottom: 10px;
    font-size: larger;
}

.main {
    color: orange;
}

h2 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(68, 252, 68);
    width: 300px;
    
}

p {
    text-align: center;
    width: 400px;
    display: inline-block;
    border: 30px;
    padding: 100px;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}